/* BellIcon.css */

.bell-icon-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 9999; /* Ensure it's above other content */
    
  }
  
  .bell-icon-button:focus {
    outline: none;

    
  }
  
  .bell-icon-button svg {
    width: 30px;
    height: 30px;
    color:#1eb2a6; /* Change color as needed */
  }

  .notification-dot {
    position: absolute;
    top: 4;
    right: 15;
    width: 10px;
    height: 10px;
    background-color: #ff0000; /* Adjust color as needed */
    border-radius: 50%;
    transform: translate(50%, -50%);
  }
  