/* admin-upload-post.css */

.bg-image{
  min-height: 100vh;
  background-image: url('/public/images/bglg.jpg');
  background-size: cover;
}

.admin-upload-post-container {
    max-width:200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .admin-upload-post-title {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }
  
  .admin-upload-post-select-wrapper {
    margin-bottom: 20px;
    
  }
  
  .admin-upload-post-select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .bg-image .admin-upload-post-form-container {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 80px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .button-blue {
    background-color:#1EB2A6;
  
  }
  
  .button-green {
    background-color:#1EB2A6;
  }
  
  .button-auto-width {
    width: auto;
  }
  
  .button-height {
    height: 45px;
  }
  
  .button-rounded {
    border-radius: 8px;
  }
  
  .margin-top-16 {
    margin-top: 16px;
  }
  
  .admin-form-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .admin-form-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .admin-form-input {
    width: calc(100% - 12px);
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .admin-form-textarea {
    width: calc(100% - 12px);
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .admin-form-checkbox {
    margin-top: 8px;
  }
  
  .admin-form-submit {
    margin-top: 16px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .admin-form-submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .register-link {
    margin-top: 20px;
    font-size: 14px;
    color: #000000;
    text-align: center;
  }
  
  .register-link p {
    margin: 0;
  }
  
  .register-link p a {
    color: rgb(26, 25, 25);
    font-weight: 500;
    text-decoration: underline;
  }
  
  .register-link p a:hover {
    text-decoration: none;
    color: white;
  }
  
  